<div class="row">

    <div class="form-group col-12">
        <label for="capacidadCarga">Capacidad de carga</label>
        <input type="number" class="form-control" name="capacidadCarga" [(ngModel)]="camionGeneral.capacidadCarga"
            placeholder="Ingrese capacidad en kg">
    </div>

</div>

<div class="row">

    <div class="form-group col-6">
        <label for="cantidadRuedas">Cantidad de ruedas</label>
        <input type="number" class="form-control" name="cantidadRuedas" placeholder="Ingrese cantidad"
            [(ngModel)]="camionGeneral.cantidadRuedas">
    </div>

    <div class="form-group col-6">
        <label for="estado">Acoplado</label>
        <select class="form-control" name="acoplado" [(ngModel)]="camionGeneral.acoplado">
            <option>No</option>
            <option>Si</option>
        </select>
    </div>

</div>
